$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

$fa-font-path: "../bower_components/fontawesome/fonts";
@import "fontawesome/scss/font-awesome";

@import "spectrum";

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.color-controls {
    margin-bottom: 10px;

    label {
        margin-right: 10px;
    }
}

.tab-content > .active {
    padding-top: 10px;
}

a {
    cursor: pointer;
}

.randomize-color,
.clear-color {
    margin-left: 3px;
}

.range-input-wrapper {
    white-space: nowrap;

    input[type="range"] {
        display: inline-block;
        margin: 0 5px;
        width: 5em;
        vertical-align: middle;
    }
}

.delete-line {
    color: $brand-danger;
    display: inline-block;
    margin: 0 0.3em;
}

.lines-list {
    .line-item {
        .line-settings {
            display: none;
        }

        .color-square {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 0.3em;
        }

        .line-representation {
            display: inline-block;
            width: 100%;
            height: 15px;
            border-style: solid;
            border-radius: 2px;
        }

        & + .line-item {
            margin-top: 5px;
            padding-top: 5px;
            border-top: 1px solid $hr-border;
        }
    }
}

.btn-flat {
  @include button-variant($btn-default-color, $btn-default-bg, transparent);
}

.page-header {
    margin-top: 0;

    .btn {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.form-inline {
    .form-group {
        & + .form-group {
            margin-left: 40px;
        }
    }
}

.svg-container {
    position: relative;
    width: 100%;
    height: 250px;

    .svg-canvas, .svg-result {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .svg-canvas {
        border: 1px solid #ccc;
        border-radius: 2px;
        background-color: transparent;
        z-index: 1;
        cursor: pointer;
    }

    .svg-result {
        z-index: 0;
    }
}

.download-button {
    .fa {
        margin-right: 0.4em;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    font-size: 0.9em;
    color: #999;
}
