$roboto-font-path: "../bower_components/materialize/font/roboto/";
$icons-font-path: "../bower_components/materialize/font/material-design-icons/";
@import "materialize/sass/materialize";

@import "spectrum";

$toolbar-button-padding: 0.5rem;

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.color-controls {
    margin-bottom: 10px;

    label {
        margin-right: 10px;
    }
}

.tab-content > .active {
    padding-top: 10px;
}

a {
    cursor: pointer;
}

.range-input-wrapper {
    margin: 0 $toolbar-button-padding;
    white-space: nowrap;

    input[type="range"] {
        margin: 0 5px;
        width: 5em;
        vertical-align: middle;
    }
}

.delete-line {
    color: map-get($red, darken-2);
    display: inline-block;
    margin: 0 0.3em;
}

.lines-list {
    .line-item {
        position: relative;

        &.next-line {
            &:before {
                content: "Next:";
            }
        }

        .current-indicator {
            position: absolute;
            left: -14px;
            bottom: 3px;
            display: none;
        }

        &.current-line {
            .current-indicator {
                display: inline-block;
            }
        }

        .line-settings {
            display: none;
        }

        .color-square {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 0.3em;
        }

        .line-representation {
            display: inline-block;
            width: 100%;
            height: 15px;
            border-style: solid;
            border-radius: 2px;
        }

        & + .line-item {
            margin-top: 5px;
        }
    }
}

.btn-sm {
    padding: 0 $toolbar-button-padding;
    line-height: 30px;
    height: 30px;
    margin-bottom: 0;
    margin-left: $toolbar-button-padding;
}

.page-header {
    margin-top: 0;

    .btn {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.tab-content.col {
    padding-top: 20px;
}

.form-inline {
    display: inline-block;

    .form-group {
        display: inline-block;

        & + .form-group {
            margin-left: 2rem;
        }
    }
}

.svg-container {
    position: relative;
    width: 100%;
    height: 250px;

    .svg-canvas, .svg-result {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .svg-canvas {
        border: 1px solid #ccc;
        border-radius: 2px;
        background-color: transparent;
        z-index: 1;
        cursor: pointer;
    }

    .svg-result {
        z-index: 0;
    }
}

.download-button {
    .fa {
        margin-right: 0.4em;
    }
}

.main-content {
    margin-top: 20px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.svg-source {
    white-space: normal;
}

.container {
    width: 100%;
}
@media #{$medium-and-up} {
  .container {
    width: 95%;
  }
}
@media #{$large-and-up} {
  .container {
    width: 90%;
  }
}
