$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

$fa-font-path: "../bower_components/fontawesome/fonts";
@import "fontawesome/scss/font-awesome";

@import "spectrum";

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.color-controls {
    margin-bottom: 10px;

    label {
        margin-right: 10px;
    }
}

.svg-container {
    position: relative;
    width: 500px;
    height: 250px;

    .svg-canvas, .svg-result {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .svg-canvas {
        border: 1px solid #ccc;
        border-radius: 2px;
        background-color: transparent;
        z-index: 1;
        cursor: pointer;
    }

    .svg-result {
        z-index: 0;
    }
}

.download-button {
    .fa {
        margin-right: 0.4em;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    font-size: 0.9em;
    color: #999;
}
