node_modules/
.sass-cache/
app/bower_components/
npm-debug.log

dist/bower_components/*
!dist/bower_components/jquery
!dist/bower_components/spectrum
!dist/bower_components/js-base64
!dist/bower_components/moment
!dist/bower_components/fontawesome
!dist/bower_components/materialize

dist/bower_components/materialize/*
!dist/bower_components/materialize/font

dist/bower_components/jquery/*
!dist/bower_components/jquery/dist

dist/bower_components/jquery/dist/*
!dist/bower_components/jquery/dist/jquery.js

dist/bower_components/spectrum/*
!dist/bower_components/spectrum/spectrum.js
!dist/bower_components/spectrum/spectrum.css

dist/bower_components/js-base64/*
!dist/bower_components/js-base64/base64.min.js

dist/bower_components/moment/*
!dist/bower_components/moment/min

dist/bower_components/moment/min/*
!dist/bower_components/moment/min/moment.min.js

dist/bower_components/fontawesome/*
!dist/bower_components/fontawesome/fonts

dist/bower_components/fontawesome/fonts/*
!dist/bower_components/fontawesome/fonts/fontawesome-webfont.woff2
!dist/bower_components/fontawesome/fonts/fontawesome-webfont.eot
!dist/bower_components/fontawesome/fonts/fontawesome-webfont.svg
!dist/bower_components/fontawesome/fonts/fontawesome-webfont.ttf
!dist/bower_components/fontawesome/fonts/fontawesome-webfont.woff
